@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/TrajanPro-Regular.eot');
  src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro-Regular.woff2') format('woff2'),
  url('../fonts/TrajanPro-Regular.woff') format('woff'),
  url('../fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trajan Pro-Bold';
  src: url('../fonts/TrajanPro-Bold.eot');
  src: url('../fonts/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro-Bold.woff2') format('woff2'),
  url('../fonts/TrajanPro-Bold.woff') format('woff'),
  url('../fonts/TrajanPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Trajan Pro-Bold';
  src: url('../fonts/TrajanPro-Bold.eot');
  src: url('../fonts/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro-Bold.woff2') format('woff2'),
  url('../fonts/TrajanPro-Bold.woff') format('woff'),
  url('../fonts/TrajanPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
