@import url(fonts.css);

html,
body {
  background: #212121;
  font-family: 'Century Gothic', GillSans, Calibri, Trebuchet, sans-serif;
  height: 100%;
}

body {
  color: #ccc;
  margin: 0;
  padding: 0;
}

* { outline: 0; }

/* Helpers */
.no-padding {
  padding: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.cursor-pointer {
  cursor: pointer;
}

/* Text & Fonts */
.text-shadow-default {
  text-shadow: 2px 2px 2px #000;
}

/* Preloader */
/*.preloader-wrapper {
  margin-top: 3em;
}*/

/* Toast */
/*#toast-container .toast {
  font-family: 'Trajan Pro', Arial, serif;
  min-height: 34px !important;
  padding: 0 16px;
  text-shadow: 1px 1px 2px #000;
}
#toast-container .toast.error {
  background: rgba(183, 28, 28, 0.65);
}
#toast-container .toast.warning {
  background: rgba(230, 81, 0, 0.65);
}
#toast-container .toast.feedback {
  background: rgba(51, 105, 30, 0.65);
}
#toast-container .toast i {
  font-size: 20px;
  opacity: 0.9;
}
#toast-container small {
  padding-top: 1px;
}*/

/* Modals */
/*div.modal {
  background: rgba(0, 0, 0, 0.75) !important;
}*/

/* Forms */
/*
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #039be5 !important;
}
form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus {
  border-bottom: 1px solid #01579b !important;
}
form button.btn-small {
  font-size: 10px;
  letter-spacing: 0.12em;
}*/
