<div class="modal modal-createItem transparent grey-text z-depth-0">
  <div class="modal-content transparent">
    <h4>New Item</h4>

    <form>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="title" name="title" value="My Note X" autoComplete="off" class="grey-text validate">
          <label for="title">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" name="description" class="materialize-textarea grey-text validate">Lorem ipsum dolor sit amet...</textarea>
          <label for="description">Description</label>
        </div>
      </div>

      <div class="row">
        <div class="s12">
          <button type="button" class="modal-close btn-small waves-effect grey darken-4 left">Cancel</button>
          <button type="submit" class="btn-small waves-effect green darken-3 right">Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>