<div class="col s12 m5 l4">
  <div class="card black">
    <div class="card-content">
      <div class="drag-handle valign-wrapper left">
        <i class="material-icons tiny grey-text">drag_handle</i>
      </div>

      <h4 class="card-title grey-text text-lighten-4">{{ Item.title }}</h4>
      <p>{{ Item.description }}</p>
    </div>

    <div class="card-action">
      <a class="light-blue-text text-lighten-2 cursor-pointer"><i class="material-icons tiny">open_in_new</i></a>
      <a class="light-blue-text text-lighten-2 cursor-pointer"><i class="material-icons tiny">save</i></a>
      <a data-click="deleteItem" data-model-oid="Item.oid" class="orange-text text-accent-4 no-margin cursor-pointer">
        <i class="material-icons">delete_forever</i>
      </a>
    </div>
  </div>
</div>