<div class="modal modal-signUp transparent grey-text z-depth-0">
  <div class="modal-content transparent">
    <h4>Member Sign Up</h4>

    <form>
      <div class="row">
        <div class="input-field col s6 no-padding-left">
          <input type="text" id="name" name="name" value="Carlos Bucheli" autoComplete="off" class="grey-text validate">
          <label for="name">Name</label>
        </div>

        <div class="input-field col s6 no-padding-right">
          <input type="email" id="email" name="email" value="carlos.bucheli.padilla@gmail.com" autoComplete="off" class="grey-text validate">
          <label for="email">e-mail</label>
        </div>
      </div>

      <div class="row">
        <div class="s12 right-align">
          <button type="submit" class="btn-small waves-effect green darken-3">Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>