<ul id="slide-out" class="sidenav yatdl-component-navigation">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg">
      </div>
      <img class="circle" src="https://materializecss.com/images/yuna.jpg">
      <span class="white-text name">{{ Member.name }}</span>
      <span class="white-text email">{{ Member.email }}</span>
    </div>
  </li>

  <li><a href="#" data-click="addActivity" class="waves-effect"><i class="material-icons">add_comment</i>Add Activity</a></li>
  <li><a href="#" data-click="openSettings" class="waves-effect"><i class="material-icons">settings</i>Settings</a></li>
  <li><div class="divider"></div></li>
  <li><a href="#" class="waves-effect"><i class="material-icons">power_settings_new</i>Logout</a></li>
</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger">
  <i class="material-icons grey-text text-lighten-1">menu</i>
</a>